@use 'fonts/font' as *;

@mixin base-page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Custom';
  color: white;
  outline: none;
}

@mixin base-button($width: 100%, $bg-color: #238636, $bg-hover: #1b662a, $bg-active: #165322) {
  text-align: center;
  padding: 8px 16px;
  background-color: $bg-color;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: $width;

  @content;
  &:hover {
    cursor: pointer;
    background-color: $bg-hover;
  }

  &:active {
    background-color: $bg-active;
  }
}

@mixin base-input {
  background-color: #151b23;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #3d444db3;
  @content;
  &:focus {
    background-color: #0d1117;
    border: 2px solid rgb(39, 68, 228);
    padding: 5px 9px;
    outline: none;
  }
}

@mixin base-bg-coclor {
  background-color: #0d1117;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin base-border {
  border: 1px solid #3d444db3;
}