@font-face {
  font-family: "Custom";
  src: url("../../styles/fonts/NetflixSans-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Custom";
  color: white;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background-color: #0d1117;
}
body .add_user_button {
  text-align: center;
  padding: 8px 16px;
  background-color: #238636;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 200px;
  margin: 2rem 0 0 2rem;
}
body .add_user_button:hover {
  cursor: pointer;
  background-color: #1b662a;
}
body .add_user_button:active {
  background-color: #165322;
}
body .table {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 200px));
  word-wrap: break-word;
  margin: 3rem auto;
  width: 1000px;
  border: 1px solid rgba(61, 68, 77, 0.7019607843);
  border-radius: 5px;
}
body .table div {
  padding: 0.8rem 10px 0.8rem 30px;
  border-bottom: 1px solid rgba(61, 68, 77, 0.7019607843);
  display: flex;
  align-items: center;
}
body .table .title {
  border-bottom: 1px solid rgba(61, 68, 77, 0.7019607843);
  padding: 1rem;
  font-size: 1.2rem;
}
body .table img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
body .table .buttons {
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
body .table .buttons .edit {
  text-align: center;
  padding: 8px 16px;
  background-color: #238636;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 80px;
}
body .table .buttons .edit:hover {
  cursor: pointer;
  background-color: #1b662a;
}
body .table .buttons .edit:active {
  background-color: #165322;
}
body .table .buttons .delete {
  text-align: center;
  padding: 8px 16px;
  background-color: #911919;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 80px;
}
body .table .buttons .delete:hover {
  cursor: pointer;
  background-color: #e11717;
}
body .table .buttons .delete:active {
  background-color: #911313;
}
body .detalis_form_user {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #151515;
  padding: 10px;
  border-radius: 5px;
}
body .detalis_form_user .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .detalis_form_user .form .name, body .detalis_form_user .form .last_name, body .detalis_form_user .form .avatar {
  display: flex;
  flex-direction: column;
}
body .detalis_form_user .form .name input, body .detalis_form_user .form .last_name input, body .detalis_form_user .form .avatar input {
  background-color: #151b23;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid rgba(61, 68, 77, 0.7019607843);
}
body .detalis_form_user .form .name input:focus, body .detalis_form_user .form .last_name input:focus, body .detalis_form_user .form .avatar input:focus {
  background-color: #0d1117;
  border: 2px solid rgb(39, 68, 228);
  padding: 5px 9px;
  outline: none;
}
body .detalis_form_user .form .button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .detalis_form_user .form .button .submit {
  text-align: center;
  padding: 8px 16px;
  background-color: #238636;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 300px;
  font-size: 17px;
}
body .detalis_form_user .form .button .submit:hover {
  cursor: pointer;
  background-color: #1b662a;
}
body .detalis_form_user .form .button .submit:active {
  background-color: #165322;
}
body .message {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  text-align: center;
  padding: 8px 16px;
  background-color: #3a9f3a;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 250px;
  animation: show 2s forwards ease-in-out;
}
@keyframes show {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body .modal_window {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 1px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0.662745098);
}
body .modal_window header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .modal_window header .title_actions {
  font-size: 30px;
}
body .modal_window main {
  width: 400px;
  margin: auto;
}
body .modal_window main .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .modal_window main .form .name, body .modal_window main .form .last_name, body .modal_window main .form .avatar {
  display: flex;
  flex-direction: column;
}
body .modal_window main .form .name input, body .modal_window main .form .last_name input, body .modal_window main .form .avatar input {
  background-color: #151b23;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid rgba(61, 68, 77, 0.7019607843);
}
body .modal_window main .form .name input:focus, body .modal_window main .form .last_name input:focus, body .modal_window main .form .avatar input:focus {
  background-color: #0d1117;
  border: 2px solid rgb(39, 68, 228);
  padding: 5px 9px;
  outline: none;
}
body .modal_window main .form .button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .modal_window main .form .button .submit_btn {
  text-align: center;
  padding: 8px 16px;
  background-color: #238636;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 300px;
  font-size: 17px;
}
body .modal_window main .form .button .submit_btn:hover {
  cursor: pointer;
  background-color: #1b662a;
}
body .modal_window main .form .button .submit_btn:active {
  background-color: #165322;
}
body .modal_window .alert {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  text-align: center;
  padding: 8px 16px;
  background-color: #3a9f3a;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 250px;
  animation: show 2s forwards ease-in-out;
}
@keyframes show {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body .out_alert {
  display: none;
  position: absolute;
  top: 3rem;
  right: 1rem;
  text-align: center;
  padding: 8px 16px;
  background-color: #3a9f3a;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  width: 250px;
  animation: show 2s forwards ease-in-out;
}
@keyframes show {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */