@use '../../styles/global' as *;

* {
  @include base-page;
}

body {
  @include base-bg-coclor;

  .add_user_button {
    @include base-button(200px);
    margin: 2rem 0 0 2rem;
  }

  .table {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 200px));
    word-wrap: break-word;
    margin: 3rem auto;
    width: 1000px;
    @include base-border;
    border-radius: 5px;

    div {
      padding: .8rem 10px .8rem 30px;
      border-bottom: 1px solid #3d444db3;
      display: flex;
      align-items: center;
    }

    .title {
      border-bottom: 1px solid #3d444db3;
      padding: 1rem;
      font-size: 1.2rem;
    }

    img {
      object-fit: cover;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
    }

    .buttons {
      padding: 10px 10px 10px 0;
      @include flex-row;
      gap: 1rem;

      .edit {
        @include base-button(80px);
      }

      .delete {
        @include base-button(80px, #911919, #e11717, #911313);
      }
    }
  }

  .detalis_form_user {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #151515;
    padding: 10px;
    border-radius: 5px;

    .form {
      @include flex-column;
      gap: 1rem;

      .name, .last_name, .avatar {
        @include flex-column;

        input {
          @include base-input;
        }
      }

      .button {
        @include flex-column;
        align-items: center;

        .submit {
          @include base-button(300px);
          font-size: 17px;
        }
      }
    }
  }

  .message {
    display: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    text-align: center;
    padding: 8px 16px;
    background-color: #3a9f3a;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    width: 250px;

    animation: show 2s forwards ease-in-out;
  }

  @keyframes show {
    0%{
      transform: translateY(-200px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }

  .modal_window {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1px;
    left: 1px;
    background-color: #000000a9;

    header {
      margin: 2rem 0;
      @include flex-column;
      align-items: center;

      .title_actions {
        font-size: 30px;
      }
    }

  main {
    width: 400px;
    margin: auto;

    .form {
      @include flex-column;
      gap: 1rem;

      .name, .last_name, .avatar {
        @include flex-column;

        input {
          @include base-input;
        }
      }

      .button {
        @include flex-column;
        align-items: center;

        .submit_btn {
          @include base-button(300px);
          font-size: 17px;
        }
      }
    }
  }

  .alert {
    display: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    text-align: center;
    padding: 8px 16px;
    background-color: #3a9f3a;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    width: 250px;

    animation: show 2s forwards ease-in-out;
  }

  @keyframes show {
    0%{
      transform: translateY(-200px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
  }

  .out_alert {
    display: none;
    position: absolute;
    top: 3rem;
    right: 1rem;
    text-align: center;
    padding: 8px 16px;
    background-color: #3a9f3a;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    width: 250px;

    animation: show 2s forwards ease-in-out;
  }

  @keyframes show {
    0%{
      transform: translateY(-200px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
}